<link rel="stylesheet" href="css/homeModule.css">

<div class="titulo">
	<h1>Bienvenido</h1>
</div>

<div class="recentSales mb-3 mx-5">
	<h5 class="pb-3">Ventas Recientes</h5>
	<table>
		<tr>
			<td><i class="bi bi-basket2"></i></td>
			<td>Heriberto</td>
			<td>15</td>
			<td>250</td>
		</tr>
	</table>
</div>
<div class="row mx-5 d-flex justify-content-between">
	<div class="col-12 col-md-6 mb-3 px-0 pe-2">
		<div class="employees">
			<h5>Empleados</h5>
			<div class="icon-container">
				<label for="" class="employeesCant">25</label>
				<div class="icon-emp"><i class="bi bi-person"></i></div>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-md-6 px-0 ps-2">
		<div class="sales">
			<h5>Ventas</h5>
			<div class="icon-container">
				<label for="" class="SalesCant">350</label>
				<div class="icon-sal"><i class="bi bi-graph-up"></i></div>
			</div>
		</div>
	
	</div>
</div>